# Datasets and large items
archive-2/

# Models
*.pt

# System files
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.env

# Note: We are allowing videos and output folders (runs/) 
# because they are small enough for this specific project.
